@page "/machineedit/{MachineId}"



<h1 class="page-title">Details for @Machine.Name</h1>


<div class="col-12 row">
    
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Machine ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@Machine.MachineId</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Machine.Name</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">MachineStatus</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Machine.MachineStatus</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">SentDataDateTime</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Machine.SentDataDateTime.ToShortDateString()</label>
                </div>
            </div>

           
        </div>
    </div>
</div>
